{% extends 'base-login.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4 fw-bold text-primary">Login</h3>
      
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Usuário</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="********" required>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
            <label class="form-check-label" for="rememberMe">Lembrar-me</label>
          </div>
          <a href="#" class="text-decoration-none small">Esqueceu a senha?</a>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2">Entrar</button>
      </form>
      <div class="text-center mt-3">
        <p class="small text-muted">Não tem uma conta? <a href="{% url 'novo_usuario' %}" class="text-decoration-none">Cadastre-se</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}