{% extends 'base-login.html' %}
{% block title %}Novo Usuário{% endblock %}
{% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow p-4" style="width: 100%; max-width: 450px;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4 fw-bold text-primary">Criar Conta</h3>
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show py-2" role="alert">
          {{ error }}
        </div>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Usuário</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="********" required>
        </div>
        <div class="mb-3">
          <label for="confirm_password" class="form-label">Confirme a Senha</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="********" required>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2">Cadastrar</button>
      </form>
      <div class="text-center mt-3">
        <p class="small text-muted">Já tem uma conta? <a href="{% url 'login' %}" class="text-decoration-none">Faça login</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}